    <label for="{{field}}">
    </label>
    <input type="{{type}}"  value="{{ flashMessages.get(field, '') }}" placeholder="{{field}}" name="{{field}}" id="{{field}}" />
    @if(flashMessages.has('errors.' + field))
    <small> {{flashMessages.get("errors." + field)}} </small>
    @endif