<!DOCTYPE html>
<html lang="en">
   <head>
      {{--  <link 
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
         rel="stylesheet"
         integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
         crossorigin="anonymous">  --}}
         @entryPointScripts('app')
         @entryPointStyles('app')
         {{--  @entryPointStyles('main')  --}}
         {{--  <link href='../../scss/main.css' rel="stylesheet">  --}}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Hey, what's up?</title>
   </head>
   <header>
      <nav class="navbar navbar-light">
         <div class="container">
            <ul class="nav nav-pills">
                      <button class="btn">
                        {{i18n.locale}}
                      </button>

                      @each(locale in getSupportedLocales())
                        @if(locale !== i18n.locale)
                          <a
                            href="{{ route('language.update', {locale}) }}"
                           class="btn btn-light">
                              switch to {{ locale }}
                              </a>
                        @end
                      @end
            </ul>
            <ul class="nav nav-pills">
            <a class="logo" href="{{route('NewsController.index')}}">News From Far Away</a>
            </ul>
            <ul class="nav nav-pills">
               <div class="action-buttons">
                  @if(auth.isAuthenticated == false)
                  <a href="{{route('AuthController.login')}}" class="btn btn-primary"> Login </a>
                  @else
                  <a href="{{route('NewsController.create')}}" class="btn btn-primary"> Post Something </a>
                  @endif
            </ul>
            <ul class="nav nav-pills">
            @if(auth.isAuthenticated)
            <form action="{{route('AuthController.logout')}}" method="GET">
                {{ csrfField() }}
            <button class="btn btn-primary" type="submit"> Sign Out </button>
            </form>
            @endif
            </ul>
            </div>
         </div>
      </nav>
   </header>
   <body>
      @section('content')
      @endsection
   </body>
</html>